--
-- PostgreSQL database dump
--

\restrict gvgxm6JNATZiQTN3UuPaFfKUTc1XyZlwtoNgn9Rs3pgl0h16OW70dcg4iqw9gmt

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: siata_auth; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA siata_auth;


ALTER SCHEMA siata_auth OWNER TO admin;

--
-- Name: SCHEMA siata_auth; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA siata_auth IS 'Esquema principal del sistema de autenticaci├│n SIATA - Framework JANO';


--
-- Name: application_status; Type: TYPE; Schema: siata_auth; Owner: admin
--

CREATE TYPE siata_auth.application_status AS ENUM (
    'active',
    'inactive',
    'maintenance',
    'deprecated'
);


ALTER TYPE siata_auth.application_status OWNER TO admin;

--
-- Name: delivery_method; Type: TYPE; Schema: siata_auth; Owner: admin
--

CREATE TYPE siata_auth.delivery_method AS ENUM (
    'email',
    'sms'
);


ALTER TYPE siata_auth.delivery_method OWNER TO admin;

--
-- Name: module_status; Type: TYPE; Schema: siata_auth; Owner: admin
--

CREATE TYPE siata_auth.module_status AS ENUM (
    'active',
    'inactive',
    'deprecated'
);


ALTER TYPE siata_auth.module_status OWNER TO admin;

--
-- Name: otp_status; Type: TYPE; Schema: siata_auth; Owner: admin
--

CREATE TYPE siata_auth.otp_status AS ENUM (
    'pending',
    'validated',
    'expired',
    'cancelled'
);


ALTER TYPE siata_auth.otp_status OWNER TO admin;

--
-- Name: permission_type; Type: TYPE; Schema: siata_auth; Owner: admin
--

CREATE TYPE siata_auth.permission_type AS ENUM (
    'read',
    'write',
    'delete',
    'admin'
);


ALTER TYPE siata_auth.permission_type OWNER TO admin;

--
-- Name: rule_severity; Type: TYPE; Schema: siata_auth; Owner: admin
--

CREATE TYPE siata_auth.rule_severity AS ENUM (
    'critical',
    'high',
    'medium',
    'low'
);


ALTER TYPE siata_auth.rule_severity OWNER TO admin;

--
-- Name: rule_type; Type: TYPE; Schema: siata_auth; Owner: admin
--

CREATE TYPE siata_auth.rule_type AS ENUM (
    'authentication',
    'authorization',
    'rate_limit',
    'ip_whitelist',
    'password_policy',
    'session_policy',
    'mfa_policy'
);


ALTER TYPE siata_auth.rule_type OWNER TO admin;

--
-- Name: session_status; Type: TYPE; Schema: siata_auth; Owner: admin
--

CREATE TYPE siata_auth.session_status AS ENUM (
    'active',
    'expired',
    'revoked'
);


ALTER TYPE siata_auth.session_status OWNER TO admin;

--
-- Name: token_type; Type: TYPE; Schema: siata_auth; Owner: admin
--

CREATE TYPE siata_auth.token_type AS ENUM (
    'access',
    'refresh'
);


ALTER TYPE siata_auth.token_type OWNER TO admin;

--
-- Name: user_role; Type: TYPE; Schema: siata_auth; Owner: admin
--

CREATE TYPE siata_auth.user_role AS ENUM (
    'root',
    'external',
    'user_siata'
);


ALTER TYPE siata_auth.user_role OWNER TO admin;

--
-- Name: user_status; Type: TYPE; Schema: siata_auth; Owner: admin
--

CREATE TYPE siata_auth.user_status AS ENUM (
    'active',
    'inactive',
    'suspended',
    'pending_activation'
);


ALTER TYPE siata_auth.user_status OWNER TO admin;

--
-- Name: cleanup_expired_otps(); Type: FUNCTION; Schema: siata_auth; Owner: admin
--

CREATE FUNCTION siata_auth.cleanup_expired_otps() RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    UPDATE otp_codes 
    SET status = 'expired'
    WHERE status = 'pending' 
    AND expires_at < CURRENT_TIMESTAMP;
END;
$$;


ALTER FUNCTION siata_auth.cleanup_expired_otps() OWNER TO admin;

--
-- Name: cleanup_expired_sessions(); Type: FUNCTION; Schema: siata_auth; Owner: admin
--

CREATE FUNCTION siata_auth.cleanup_expired_sessions() RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    UPDATE sessions 
    SET status = 'expired',
        ended_at = CURRENT_TIMESTAMP
    WHERE status = 'active' 
    AND expires_at < CURRENT_TIMESTAMP;
END;
$$;


ALTER FUNCTION siata_auth.cleanup_expired_sessions() OWNER TO admin;

--
-- Name: cleanup_expired_tokens(); Type: FUNCTION; Schema: siata_auth; Owner: admin
--

CREATE FUNCTION siata_auth.cleanup_expired_tokens() RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    UPDATE auth_tokens 
    SET is_revoked = true,
        revoked_at = CURRENT_TIMESTAMP
    WHERE is_revoked = false 
    AND expires_at < CURRENT_TIMESTAMP;
END;
$$;


ALTER FUNCTION siata_auth.cleanup_expired_tokens() OWNER TO admin;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: siata_auth; Owner: admin
--

CREATE FUNCTION siata_auth.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION siata_auth.update_updated_at_column() OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: applications; Type: TABLE; Schema: siata_auth; Owner: admin
--

CREATE TABLE siata_auth.applications (
    application_id uuid DEFAULT siata_auth.uuid_generate_v4() NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    application_code character varying(100) NOT NULL,
    url character varying(500) NOT NULL,
    status siata_auth.application_status DEFAULT 'active'::siata_auth.application_status NOT NULL,
    version character varying(50),
    requires_authentication boolean DEFAULT true NOT NULL,
    allowed_roles siata_auth.user_role[] DEFAULT ARRAY['root'::siata_auth.user_role],
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by uuid NOT NULL,
    updated_by uuid,
    disabled_at timestamp with time zone,
    disabled_by uuid,
    CONSTRAINT chk_app_code_format CHECK (((application_code)::text ~ '^[a-z0-9_-]+$'::text)),
    CONSTRAINT chk_app_disabled_consistency CHECK ((((status = 'inactive'::siata_auth.application_status) AND (disabled_at IS NOT NULL)) OR (status <> 'inactive'::siata_auth.application_status))),
    CONSTRAINT chk_app_name_not_empty CHECK ((length(TRIM(BOTH FROM name)) > 0)),
    CONSTRAINT chk_app_url_format CHECK (((url)::text ~* '^https?://'::text))
);


ALTER TABLE siata_auth.applications OWNER TO admin;

--
-- Name: TABLE applications; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON TABLE siata_auth.applications IS 'Aplicaciones registradas en el sistema (gestionadas solo por ROOT)';


--
-- Name: COLUMN applications.application_code; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON COLUMN siata_auth.applications.application_code IS 'Identificador ├║nico de la aplicaci├│n';


--
-- Name: COLUMN applications.url; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON COLUMN siata_auth.applications.url IS 'URL de redirecci├│n de la aplicaci├│n';


--
-- Name: COLUMN applications.allowed_roles; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON COLUMN siata_auth.applications.allowed_roles IS 'Roles permitidos para acceder a esta aplicaci├│n';


--
-- Name: audit_logs; Type: TABLE; Schema: siata_auth; Owner: admin
--

CREATE TABLE siata_auth.audit_logs (
    log_id uuid DEFAULT siata_auth.uuid_generate_v4() NOT NULL,
    user_id uuid,
    action character varying(200) NOT NULL,
    entity_type character varying(100) NOT NULL,
    entity_id uuid,
    old_values jsonb,
    new_values jsonb,
    ip_address character varying(45),
    user_agent text,
    success boolean NOT NULL,
    error_message text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_action_not_empty CHECK ((length(TRIM(BOTH FROM action)) > 0)),
    CONSTRAINT chk_entity_type_not_empty CHECK ((length(TRIM(BOTH FROM entity_type)) > 0))
);


ALTER TABLE siata_auth.audit_logs OWNER TO admin;

--
-- Name: TABLE audit_logs; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON TABLE siata_auth.audit_logs IS 'Registro centralizado de auditor├¡a de todas las operaciones cr├¡ticas';


--
-- Name: auth_tokens; Type: TABLE; Schema: siata_auth; Owner: admin
--

CREATE TABLE siata_auth.auth_tokens (
    token_id uuid DEFAULT siata_auth.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    session_id uuid,
    token_type siata_auth.token_type NOT NULL,
    token_hash character varying(255) NOT NULL,
    is_revoked boolean DEFAULT false NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked_at timestamp with time zone,
    revoked_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_used_at timestamp with time zone,
    CONSTRAINT chk_revoked_consistency CHECK ((((is_revoked = false) AND (revoked_at IS NULL)) OR ((is_revoked = true) AND (revoked_at IS NOT NULL))))
);


ALTER TABLE siata_auth.auth_tokens OWNER TO admin;

--
-- Name: TABLE auth_tokens; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON TABLE siata_auth.auth_tokens IS 'Tokens JWT (access y refresh) emitidos por el sistema';


--
-- Name: jano_rule_violations; Type: TABLE; Schema: siata_auth; Owner: admin
--

CREATE TABLE siata_auth.jano_rule_violations (
    violation_id uuid DEFAULT siata_auth.uuid_generate_v4() NOT NULL,
    rule_id uuid NOT NULL,
    user_id uuid,
    violation_type character varying(100) NOT NULL,
    endpoint character varying(500),
    ip_address character varying(45),
    request_data jsonb,
    response_status integer,
    action_taken character varying(200),
    was_blocked boolean DEFAULT false NOT NULL,
    occurred_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_response_status_valid CHECK (((response_status >= 100) AND (response_status <= 599)))
);


ALTER TABLE siata_auth.jano_rule_violations OWNER TO admin;

--
-- Name: TABLE jano_rule_violations; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON TABLE siata_auth.jano_rule_violations IS 'Registro de violaciones a las reglas de seguridad JANO';


--
-- Name: jano_security_rules; Type: TABLE; Schema: siata_auth; Owner: admin
--

CREATE TABLE siata_auth.jano_security_rules (
    rule_id uuid DEFAULT siata_auth.uuid_generate_v4() NOT NULL,
    rule_name character varying(200) NOT NULL,
    rule_type siata_auth.rule_type NOT NULL,
    rule_code character varying(100) NOT NULL,
    description text NOT NULL,
    rule_config jsonb DEFAULT '{}'::jsonb NOT NULL,
    severity siata_auth.rule_severity DEFAULT 'medium'::siata_auth.rule_severity NOT NULL,
    priority integer DEFAULT 100 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    applies_to_roles siata_auth.user_role[],
    applies_to_endpoints text[],
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by uuid NOT NULL,
    updated_by uuid,
    CONSTRAINT chk_rule_code_format CHECK (((rule_code)::text ~ '^[A-Z0-9_]+$'::text)),
    CONSTRAINT chk_rule_name_not_empty CHECK ((length(TRIM(BOTH FROM rule_name)) > 0)),
    CONSTRAINT chk_rule_priority_positive CHECK ((priority > 0))
);


ALTER TABLE siata_auth.jano_security_rules OWNER TO admin;

--
-- Name: TABLE jano_security_rules; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON TABLE siata_auth.jano_security_rules IS 'Reglas de seguridad globales del framework JANO';


--
-- Name: COLUMN jano_security_rules.rule_config; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON COLUMN siata_auth.jano_security_rules.rule_config IS 'Configuraci├│n espec├¡fica de la regla en formato JSON';


--
-- Name: COLUMN jano_security_rules.priority; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON COLUMN siata_auth.jano_security_rules.priority IS 'Mayor n├║mero = mayor prioridad de ejecuci├│n';


--
-- Name: module_permissions; Type: TABLE; Schema: siata_auth; Owner: admin
--

CREATE TABLE siata_auth.module_permissions (
    permission_id uuid DEFAULT siata_auth.uuid_generate_v4() NOT NULL,
    module_id uuid NOT NULL,
    role siata_auth.user_role NOT NULL,
    team_id uuid,
    permission_type siata_auth.permission_type NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by uuid NOT NULL,
    CONSTRAINT chk_team_required_for_user_siata CHECK ((((role = 'user_siata'::siata_auth.user_role) AND (team_id IS NOT NULL)) OR ((role <> 'user_siata'::siata_auth.user_role) AND (team_id IS NULL))))
);


ALTER TABLE siata_auth.module_permissions OWNER TO admin;

--
-- Name: TABLE module_permissions; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON TABLE siata_auth.module_permissions IS 'Permisos espec├¡ficos por m├│dulo, rol y equipo';


--
-- Name: modules; Type: TABLE; Schema: siata_auth; Owner: admin
--

CREATE TABLE siata_auth.modules (
    module_id uuid DEFAULT siata_auth.uuid_generate_v4() NOT NULL,
    application_id uuid NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    module_code character varying(100) NOT NULL,
    icon character varying(100),
    display_order integer DEFAULT 0 NOT NULL,
    parent_module_id uuid,
    status siata_auth.module_status DEFAULT 'active'::siata_auth.module_status NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by uuid NOT NULL,
    updated_by uuid,
    disabled_at timestamp with time zone,
    disabled_by uuid,
    CONSTRAINT chk_module_code_format CHECK (((module_code)::text ~ '^[a-z0-9_-]+$'::text)),
    CONSTRAINT chk_module_name_not_empty CHECK ((length(TRIM(BOTH FROM name)) > 0)),
    CONSTRAINT chk_module_no_self_reference CHECK ((module_id <> parent_module_id))
);


ALTER TABLE siata_auth.modules OWNER TO admin;

--
-- Name: TABLE modules; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON TABLE siata_auth.modules IS 'M├│dulos de aplicaciones (root: CRUD, external: lectura, user_siata: edici├│n limitada)';


--
-- Name: COLUMN modules.parent_module_id; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON COLUMN siata_auth.modules.parent_module_id IS 'Permite jerarqu├¡a de m├│dulos (subm├│dulos)';


--
-- Name: otp_codes; Type: TABLE; Schema: siata_auth; Owner: admin
--

CREATE TABLE siata_auth.otp_codes (
    otp_id uuid DEFAULT siata_auth.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    otp_code_hash character varying(255) NOT NULL,
    delivery_method siata_auth.delivery_method NOT NULL,
    recipient character varying(255) NOT NULL,
    status siata_auth.otp_status DEFAULT 'pending'::siata_auth.otp_status NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    max_attempts integer DEFAULT 3 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    validated_at timestamp with time zone,
    CONSTRAINT chk_otp_attempts_limit CHECK ((attempts <= max_attempts)),
    CONSTRAINT chk_otp_expires_after_creation CHECK ((expires_at > created_at)),
    CONSTRAINT chk_otp_validated_consistency CHECK ((((status = 'validated'::siata_auth.otp_status) AND (validated_at IS NOT NULL)) OR ((status <> 'validated'::siata_auth.otp_status) AND (validated_at IS NULL))))
);


ALTER TABLE siata_auth.otp_codes OWNER TO admin;

--
-- Name: TABLE otp_codes; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON TABLE siata_auth.otp_codes IS 'C├│digos de autenticaci├│n de dos factores (OTP)';


--
-- Name: sessions; Type: TABLE; Schema: siata_auth; Owner: admin
--

CREATE TABLE siata_auth.sessions (
    session_id uuid DEFAULT siata_auth.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    status siata_auth.session_status DEFAULT 'active'::siata_auth.session_status NOT NULL,
    ip_address character varying(45) NOT NULL,
    user_agent text,
    started_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    last_activity_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    ended_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_ended_after_start CHECK (((ended_at IS NULL) OR (ended_at >= started_at))),
    CONSTRAINT chk_expires_after_start CHECK ((expires_at > started_at))
);


ALTER TABLE siata_auth.sessions OWNER TO admin;

--
-- Name: TABLE sessions; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON TABLE siata_auth.sessions IS 'Sesiones activas de usuarios autenticados';


--
-- Name: teams; Type: TABLE; Schema: siata_auth; Owner: admin
--

CREATE TABLE siata_auth.teams (
    team_id uuid DEFAULT siata_auth.uuid_generate_v4() NOT NULL,
    team_name character varying(100) NOT NULL,
    team_code character varying(50) NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by uuid,
    updated_by uuid,
    CONSTRAINT chk_team_code_format CHECK (((team_code)::text ~ '^[a-z0-9_]+$'::text)),
    CONSTRAINT chk_team_name_not_empty CHECK ((length(TRIM(BOTH FROM team_name)) > 0))
);


ALTER TABLE siata_auth.teams OWNER TO admin;

--
-- Name: TABLE teams; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON TABLE siata_auth.teams IS 'Equipos de SIATA para organizaci├│n de usuarios';


--
-- Name: COLUMN teams.team_code; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON COLUMN siata_auth.teams.team_code IS 'C├│digo ├║nico del equipo usado en roles (user_siata.{team_code})';


--
-- Name: users; Type: TABLE; Schema: siata_auth; Owner: admin
--

CREATE TABLE siata_auth.users (
    user_id uuid DEFAULT siata_auth.uuid_generate_v4() NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    phone_number character varying(20),
    role siata_auth.user_role DEFAULT 'external'::siata_auth.user_role NOT NULL,
    team_id uuid,
    status siata_auth.user_status DEFAULT 'pending_activation'::siata_auth.user_status NOT NULL,
    is_mfa_enabled boolean DEFAULT false NOT NULL,
    failed_login_attempts integer DEFAULT 0 NOT NULL,
    last_login_at timestamp with time zone,
    last_login_ip character varying(45),
    password_changed_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    must_change_password boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by uuid,
    updated_by uuid,
    disabled_at timestamp with time zone,
    disabled_by uuid,
    CONSTRAINT chk_email_format CHECK (((email)::text ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text)),
    CONSTRAINT chk_failed_attempts_positive CHECK ((failed_login_attempts >= 0)),
    CONSTRAINT chk_password_hash_not_empty CHECK ((length((password_hash)::text) > 0)),
    CONSTRAINT chk_user_siata_has_team CHECK ((((role = 'user_siata'::siata_auth.user_role) AND (team_id IS NOT NULL)) OR (role <> 'user_siata'::siata_auth.user_role))),
    CONSTRAINT chk_username_length CHECK ((length((username)::text) >= 3))
);


ALTER TABLE siata_auth.users OWNER TO admin;

--
-- Name: TABLE users; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON TABLE siata_auth.users IS 'Usuarios del sistema con roles y equipos';


--
-- Name: COLUMN users.role; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON COLUMN siata_auth.users.role IS 'root: acceso total | external: solo lectura | user_siata: gesti├│n limitada';


--
-- Name: COLUMN users.team_id; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON COLUMN siata_auth.users.team_id IS 'Equipo asignado (requerido para user_siata)';


--
-- Name: COLUMN users.is_mfa_enabled; Type: COMMENT; Schema: siata_auth; Owner: admin
--

COMMENT ON COLUMN siata_auth.users.is_mfa_enabled IS 'Autenticaci├│n de dos factores habilitada';


--
-- Name: v_active_sessions; Type: VIEW; Schema: siata_auth; Owner: admin
--

CREATE VIEW siata_auth.v_active_sessions AS
 SELECT s.session_id,
    s.user_id,
    u.username,
    u.email,
    s.ip_address,
    s.started_at,
    s.expires_at,
    s.last_activity_at,
    (EXTRACT(epoch FROM (s.expires_at - CURRENT_TIMESTAMP)) / (60)::numeric) AS minutes_until_expiry
   FROM (siata_auth.sessions s
     JOIN siata_auth.users u ON ((s.user_id = u.user_id)))
  WHERE ((s.status = 'active'::siata_auth.session_status) AND (s.expires_at > CURRENT_TIMESTAMP));


ALTER VIEW siata_auth.v_active_sessions OWNER TO admin;

--
-- Name: v_modules_hierarchy; Type: VIEW; Schema: siata_auth; Owner: admin
--

CREATE VIEW siata_auth.v_modules_hierarchy AS
 SELECT m.module_id,
    m.name AS module_name,
    m.module_code,
    m.status,
    a.application_id,
    a.name AS application_name,
    a.application_code,
    pm.name AS parent_module_name,
    m.display_order,
    m.created_at
   FROM ((siata_auth.modules m
     JOIN siata_auth.applications a ON ((m.application_id = a.application_id)))
     LEFT JOIN siata_auth.modules pm ON ((m.parent_module_id = pm.module_id)))
  ORDER BY a.name, m.display_order;


ALTER VIEW siata_auth.v_modules_hierarchy OWNER TO admin;

--
-- Name: v_recent_violations; Type: VIEW; Schema: siata_auth; Owner: admin
--

CREATE VIEW siata_auth.v_recent_violations AS
 SELECT v.violation_id,
    r.rule_name,
    r.rule_type,
    r.severity,
    u.username,
    v.violation_type,
    v.endpoint,
    v.ip_address,
    v.was_blocked,
    v.occurred_at
   FROM ((siata_auth.jano_rule_violations v
     JOIN siata_auth.jano_security_rules r ON ((v.rule_id = r.rule_id)))
     LEFT JOIN siata_auth.users u ON ((v.user_id = u.user_id)))
  WHERE (v.occurred_at > (CURRENT_TIMESTAMP - '24:00:00'::interval))
  ORDER BY v.occurred_at DESC;


ALTER VIEW siata_auth.v_recent_violations OWNER TO admin;

--
-- Name: v_users_with_teams; Type: VIEW; Schema: siata_auth; Owner: admin
--

CREATE VIEW siata_auth.v_users_with_teams AS
 SELECT u.user_id,
    u.username,
    u.email,
    u.first_name,
    u.last_name,
    u.role,
    u.status,
    u.is_mfa_enabled,
    t.team_name,
    t.team_code,
    u.last_login_at,
    u.created_at
   FROM (siata_auth.users u
     LEFT JOIN siata_auth.teams t ON ((u.team_id = t.team_id)));


ALTER VIEW siata_auth.v_users_with_teams OWNER TO admin;

--
-- Data for Name: applications; Type: TABLE DATA; Schema: siata_auth; Owner: admin
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: siata_auth; Owner: admin
--



--
-- Data for Name: auth_tokens; Type: TABLE DATA; Schema: siata_auth; Owner: admin
--



--
-- Data for Name: jano_rule_violations; Type: TABLE DATA; Schema: siata_auth; Owner: admin
--



--
-- Data for Name: jano_security_rules; Type: TABLE DATA; Schema: siata_auth; Owner: admin
--



--
-- Data for Name: module_permissions; Type: TABLE DATA; Schema: siata_auth; Owner: admin
--



--
-- Data for Name: modules; Type: TABLE DATA; Schema: siata_auth; Owner: admin
--



--
-- Data for Name: otp_codes; Type: TABLE DATA; Schema: siata_auth; Owner: admin
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: siata_auth; Owner: admin
--



--
-- Data for Name: teams; Type: TABLE DATA; Schema: siata_auth; Owner: admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: siata_auth; Owner: admin
--



--
-- Name: applications applications_application_code_key; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.applications
    ADD CONSTRAINT applications_application_code_key UNIQUE (application_code);


--
-- Name: applications applications_name_key; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.applications
    ADD CONSTRAINT applications_name_key UNIQUE (name);


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (application_id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (log_id);


--
-- Name: auth_tokens auth_tokens_pkey; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.auth_tokens
    ADD CONSTRAINT auth_tokens_pkey PRIMARY KEY (token_id);


--
-- Name: auth_tokens auth_tokens_token_hash_key; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.auth_tokens
    ADD CONSTRAINT auth_tokens_token_hash_key UNIQUE (token_hash);


--
-- Name: jano_rule_violations jano_rule_violations_pkey; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.jano_rule_violations
    ADD CONSTRAINT jano_rule_violations_pkey PRIMARY KEY (violation_id);


--
-- Name: jano_security_rules jano_security_rules_pkey; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.jano_security_rules
    ADD CONSTRAINT jano_security_rules_pkey PRIMARY KEY (rule_id);


--
-- Name: jano_security_rules jano_security_rules_rule_code_key; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.jano_security_rules
    ADD CONSTRAINT jano_security_rules_rule_code_key UNIQUE (rule_code);


--
-- Name: jano_security_rules jano_security_rules_rule_name_key; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.jano_security_rules
    ADD CONSTRAINT jano_security_rules_rule_name_key UNIQUE (rule_name);


--
-- Name: module_permissions module_permissions_pkey; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.module_permissions
    ADD CONSTRAINT module_permissions_pkey PRIMARY KEY (permission_id);


--
-- Name: modules modules_pkey; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.modules
    ADD CONSTRAINT modules_pkey PRIMARY KEY (module_id);


--
-- Name: otp_codes otp_codes_pkey; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.otp_codes
    ADD CONSTRAINT otp_codes_pkey PRIMARY KEY (otp_id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (session_id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (team_id);


--
-- Name: teams teams_team_code_key; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.teams
    ADD CONSTRAINT teams_team_code_key UNIQUE (team_code);


--
-- Name: teams teams_team_name_key; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.teams
    ADD CONSTRAINT teams_team_name_key UNIQUE (team_name);


--
-- Name: modules uq_module_code_per_app; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.modules
    ADD CONSTRAINT uq_module_code_per_app UNIQUE (application_id, module_code);


--
-- Name: module_permissions uq_module_role_team_permission; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.module_permissions
    ADD CONSTRAINT uq_module_role_team_permission UNIQUE (module_id, role, team_id, permission_type);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_applications_code; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_applications_code ON siata_auth.applications USING btree (application_code);


--
-- Name: idx_applications_created_at; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_applications_created_at ON siata_auth.applications USING btree (created_at);


--
-- Name: idx_applications_fulltext; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_applications_fulltext ON siata_auth.applications USING gin (to_tsvector('spanish'::regconfig, (((name)::text || ' '::text) || COALESCE(description, ''::text))));


--
-- Name: idx_applications_status; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_applications_status ON siata_auth.applications USING btree (status);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_audit_logs_action ON siata_auth.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_audit_logs_created_at ON siata_auth.audit_logs USING btree (created_at);


--
-- Name: idx_audit_logs_entity; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_audit_logs_entity ON siata_auth.audit_logs USING btree (entity_type, entity_id);


--
-- Name: idx_audit_logs_new_values; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_audit_logs_new_values ON siata_auth.audit_logs USING gin (new_values);


--
-- Name: idx_audit_logs_old_values; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_audit_logs_old_values ON siata_auth.audit_logs USING gin (old_values);


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_audit_logs_user_id ON siata_auth.audit_logs USING btree (user_id);


--
-- Name: idx_auth_tokens_expires_at; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_auth_tokens_expires_at ON siata_auth.auth_tokens USING btree (expires_at);


--
-- Name: idx_auth_tokens_session_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_auth_tokens_session_id ON siata_auth.auth_tokens USING btree (session_id);


--
-- Name: idx_auth_tokens_token_hash; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_auth_tokens_token_hash ON siata_auth.auth_tokens USING btree (token_hash);


--
-- Name: idx_auth_tokens_type_revoked; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_auth_tokens_type_revoked ON siata_auth.auth_tokens USING btree (token_type, is_revoked);


--
-- Name: idx_auth_tokens_user_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_auth_tokens_user_id ON siata_auth.auth_tokens USING btree (user_id);


--
-- Name: idx_jano_rules_active; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_jano_rules_active ON siata_auth.jano_security_rules USING btree (is_active);


--
-- Name: idx_jano_rules_config; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_jano_rules_config ON siata_auth.jano_security_rules USING gin (rule_config);


--
-- Name: idx_jano_rules_priority; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_jano_rules_priority ON siata_auth.jano_security_rules USING btree (priority DESC);


--
-- Name: idx_jano_rules_severity; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_jano_rules_severity ON siata_auth.jano_security_rules USING btree (severity);


--
-- Name: idx_jano_rules_type; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_jano_rules_type ON siata_auth.jano_security_rules USING btree (rule_type);


--
-- Name: idx_module_permissions_module_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_module_permissions_module_id ON siata_auth.module_permissions USING btree (module_id);


--
-- Name: idx_module_permissions_role; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_module_permissions_role ON siata_auth.module_permissions USING btree (role);


--
-- Name: idx_module_permissions_team_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_module_permissions_team_id ON siata_auth.module_permissions USING btree (team_id);


--
-- Name: idx_modules_application_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_modules_application_id ON siata_auth.modules USING btree (application_id);


--
-- Name: idx_modules_code; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_modules_code ON siata_auth.modules USING btree (module_code);


--
-- Name: idx_modules_display_order; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_modules_display_order ON siata_auth.modules USING btree (display_order);


--
-- Name: idx_modules_fulltext; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_modules_fulltext ON siata_auth.modules USING gin (to_tsvector('spanish'::regconfig, (((name)::text || ' '::text) || COALESCE(description, ''::text))));


--
-- Name: idx_modules_parent_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_modules_parent_id ON siata_auth.modules USING btree (parent_module_id);


--
-- Name: idx_modules_status; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_modules_status ON siata_auth.modules USING btree (status);


--
-- Name: idx_otp_codes_created_at; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_otp_codes_created_at ON siata_auth.otp_codes USING btree (created_at);


--
-- Name: idx_otp_codes_expires_at; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_otp_codes_expires_at ON siata_auth.otp_codes USING btree (expires_at);


--
-- Name: idx_otp_codes_status; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_otp_codes_status ON siata_auth.otp_codes USING btree (status);


--
-- Name: idx_otp_codes_user_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_otp_codes_user_id ON siata_auth.otp_codes USING btree (user_id);


--
-- Name: idx_otp_user_status_expires; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_otp_user_status_expires ON siata_auth.otp_codes USING btree (user_id, status, expires_at);


--
-- Name: idx_sessions_expires_at; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_sessions_expires_at ON siata_auth.sessions USING btree (expires_at);


--
-- Name: idx_sessions_status; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_sessions_status ON siata_auth.sessions USING btree (status);


--
-- Name: idx_sessions_user_expires; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_sessions_user_expires ON siata_auth.sessions USING btree (user_id, expires_at) WHERE (status = 'active'::siata_auth.session_status);


--
-- Name: idx_sessions_user_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_sessions_user_id ON siata_auth.sessions USING btree (user_id);


--
-- Name: idx_sessions_user_status; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_sessions_user_status ON siata_auth.sessions USING btree (user_id, status);


--
-- Name: idx_teams_is_active; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_teams_is_active ON siata_auth.teams USING btree (is_active);


--
-- Name: idx_teams_team_code; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_teams_team_code ON siata_auth.teams USING btree (team_code);


--
-- Name: idx_tokens_user_type_revoked; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_tokens_user_type_revoked ON siata_auth.auth_tokens USING btree (user_id, token_type, is_revoked);


--
-- Name: idx_users_created_at; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_users_created_at ON siata_auth.users USING btree (created_at);


--
-- Name: idx_users_email; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_users_email ON siata_auth.users USING btree (email);


--
-- Name: idx_users_fulltext; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_users_fulltext ON siata_auth.users USING gin (to_tsvector('spanish'::regconfig, (((((((username)::text || ' '::text) || (first_name)::text) || ' '::text) || (last_name)::text) || ' '::text) || (email)::text)));


--
-- Name: idx_users_role; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_users_role ON siata_auth.users USING btree (role);


--
-- Name: idx_users_role_status; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_users_role_status ON siata_auth.users USING btree (role, status);


--
-- Name: idx_users_status; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_users_status ON siata_auth.users USING btree (status);


--
-- Name: idx_users_team_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_users_team_id ON siata_auth.users USING btree (team_id);


--
-- Name: idx_users_username; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_users_username ON siata_auth.users USING btree (username);


--
-- Name: idx_violations_blocked; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_violations_blocked ON siata_auth.jano_rule_violations USING btree (was_blocked);


--
-- Name: idx_violations_occurred_at; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_violations_occurred_at ON siata_auth.jano_rule_violations USING btree (occurred_at);


--
-- Name: idx_violations_rule_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_violations_rule_id ON siata_auth.jano_rule_violations USING btree (rule_id);


--
-- Name: idx_violations_user_id; Type: INDEX; Schema: siata_auth; Owner: admin
--

CREATE INDEX idx_violations_user_id ON siata_auth.jano_rule_violations USING btree (user_id);


--
-- Name: applications update_applications_updated_at; Type: TRIGGER; Schema: siata_auth; Owner: admin
--

CREATE TRIGGER update_applications_updated_at BEFORE UPDATE ON siata_auth.applications FOR EACH ROW EXECUTE FUNCTION siata_auth.update_updated_at_column();


--
-- Name: jano_security_rules update_jano_rules_updated_at; Type: TRIGGER; Schema: siata_auth; Owner: admin
--

CREATE TRIGGER update_jano_rules_updated_at BEFORE UPDATE ON siata_auth.jano_security_rules FOR EACH ROW EXECUTE FUNCTION siata_auth.update_updated_at_column();


--
-- Name: modules update_modules_updated_at; Type: TRIGGER; Schema: siata_auth; Owner: admin
--

CREATE TRIGGER update_modules_updated_at BEFORE UPDATE ON siata_auth.modules FOR EACH ROW EXECUTE FUNCTION siata_auth.update_updated_at_column();


--
-- Name: teams update_teams_updated_at; Type: TRIGGER; Schema: siata_auth; Owner: admin
--

CREATE TRIGGER update_teams_updated_at BEFORE UPDATE ON siata_auth.teams FOR EACH ROW EXECUTE FUNCTION siata_auth.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: siata_auth; Owner: admin
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON siata_auth.users FOR EACH ROW EXECUTE FUNCTION siata_auth.update_updated_at_column();


--
-- Name: applications applications_created_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.applications
    ADD CONSTRAINT applications_created_by_fkey FOREIGN KEY (created_by) REFERENCES siata_auth.users(user_id) ON DELETE RESTRICT;


--
-- Name: applications applications_disabled_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.applications
    ADD CONSTRAINT applications_disabled_by_fkey FOREIGN KEY (disabled_by) REFERENCES siata_auth.users(user_id) ON DELETE SET NULL;


--
-- Name: applications applications_updated_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.applications
    ADD CONSTRAINT applications_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES siata_auth.users(user_id) ON DELETE SET NULL;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES siata_auth.users(user_id) ON DELETE SET NULL;


--
-- Name: auth_tokens auth_tokens_revoked_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.auth_tokens
    ADD CONSTRAINT auth_tokens_revoked_by_fkey FOREIGN KEY (revoked_by) REFERENCES siata_auth.users(user_id) ON DELETE SET NULL;


--
-- Name: auth_tokens auth_tokens_session_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.auth_tokens
    ADD CONSTRAINT auth_tokens_session_id_fkey FOREIGN KEY (session_id) REFERENCES siata_auth.sessions(session_id) ON DELETE CASCADE;


--
-- Name: auth_tokens auth_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.auth_tokens
    ADD CONSTRAINT auth_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES siata_auth.users(user_id) ON DELETE CASCADE;


--
-- Name: jano_rule_violations jano_rule_violations_rule_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.jano_rule_violations
    ADD CONSTRAINT jano_rule_violations_rule_id_fkey FOREIGN KEY (rule_id) REFERENCES siata_auth.jano_security_rules(rule_id) ON DELETE CASCADE;


--
-- Name: jano_rule_violations jano_rule_violations_user_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.jano_rule_violations
    ADD CONSTRAINT jano_rule_violations_user_id_fkey FOREIGN KEY (user_id) REFERENCES siata_auth.users(user_id) ON DELETE SET NULL;


--
-- Name: jano_security_rules jano_security_rules_created_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.jano_security_rules
    ADD CONSTRAINT jano_security_rules_created_by_fkey FOREIGN KEY (created_by) REFERENCES siata_auth.users(user_id) ON DELETE RESTRICT;


--
-- Name: jano_security_rules jano_security_rules_updated_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.jano_security_rules
    ADD CONSTRAINT jano_security_rules_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES siata_auth.users(user_id) ON DELETE SET NULL;


--
-- Name: module_permissions module_permissions_created_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.module_permissions
    ADD CONSTRAINT module_permissions_created_by_fkey FOREIGN KEY (created_by) REFERENCES siata_auth.users(user_id) ON DELETE RESTRICT;


--
-- Name: module_permissions module_permissions_module_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.module_permissions
    ADD CONSTRAINT module_permissions_module_id_fkey FOREIGN KEY (module_id) REFERENCES siata_auth.modules(module_id) ON DELETE CASCADE;


--
-- Name: module_permissions module_permissions_team_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.module_permissions
    ADD CONSTRAINT module_permissions_team_id_fkey FOREIGN KEY (team_id) REFERENCES siata_auth.teams(team_id) ON DELETE CASCADE;


--
-- Name: modules modules_application_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.modules
    ADD CONSTRAINT modules_application_id_fkey FOREIGN KEY (application_id) REFERENCES siata_auth.applications(application_id) ON DELETE CASCADE;


--
-- Name: modules modules_created_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.modules
    ADD CONSTRAINT modules_created_by_fkey FOREIGN KEY (created_by) REFERENCES siata_auth.users(user_id) ON DELETE RESTRICT;


--
-- Name: modules modules_disabled_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.modules
    ADD CONSTRAINT modules_disabled_by_fkey FOREIGN KEY (disabled_by) REFERENCES siata_auth.users(user_id) ON DELETE SET NULL;


--
-- Name: modules modules_parent_module_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.modules
    ADD CONSTRAINT modules_parent_module_id_fkey FOREIGN KEY (parent_module_id) REFERENCES siata_auth.modules(module_id) ON DELETE CASCADE;


--
-- Name: modules modules_updated_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.modules
    ADD CONSTRAINT modules_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES siata_auth.users(user_id) ON DELETE SET NULL;


--
-- Name: otp_codes otp_codes_user_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.otp_codes
    ADD CONSTRAINT otp_codes_user_id_fkey FOREIGN KEY (user_id) REFERENCES siata_auth.users(user_id) ON DELETE CASCADE;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES siata_auth.users(user_id) ON DELETE CASCADE;


--
-- Name: users users_created_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.users
    ADD CONSTRAINT users_created_by_fkey FOREIGN KEY (created_by) REFERENCES siata_auth.users(user_id) ON DELETE SET NULL;


--
-- Name: users users_disabled_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.users
    ADD CONSTRAINT users_disabled_by_fkey FOREIGN KEY (disabled_by) REFERENCES siata_auth.users(user_id) ON DELETE SET NULL;


--
-- Name: users users_team_id_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.users
    ADD CONSTRAINT users_team_id_fkey FOREIGN KEY (team_id) REFERENCES siata_auth.teams(team_id) ON DELETE SET NULL;


--
-- Name: users users_updated_by_fkey; Type: FK CONSTRAINT; Schema: siata_auth; Owner: admin
--

ALTER TABLE ONLY siata_auth.users
    ADD CONSTRAINT users_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES siata_auth.users(user_id) ON DELETE SET NULL;


--
-- Name: SCHEMA siata_auth; Type: ACL; Schema: -; Owner: admin
--

GRANT USAGE ON SCHEMA siata_auth TO auth_service;
GRANT USAGE ON SCHEMA siata_auth TO users_service;
GRANT USAGE ON SCHEMA siata_auth TO otp_service;
GRANT USAGE ON SCHEMA siata_auth TO jano_service;
GRANT USAGE ON SCHEMA siata_auth TO app_mgmt_service;
GRANT USAGE ON SCHEMA siata_auth TO module_mgmt_service;


--
-- Name: TABLE applications; Type: ACL; Schema: siata_auth; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE siata_auth.applications TO app_mgmt_service;
GRANT SELECT ON TABLE siata_auth.applications TO module_mgmt_service;


--
-- Name: TABLE audit_logs; Type: ACL; Schema: siata_auth; Owner: admin
--

GRANT INSERT ON TABLE siata_auth.audit_logs TO auth_service;
GRANT INSERT ON TABLE siata_auth.audit_logs TO users_service;
GRANT INSERT ON TABLE siata_auth.audit_logs TO otp_service;
GRANT INSERT ON TABLE siata_auth.audit_logs TO jano_service;
GRANT INSERT ON TABLE siata_auth.audit_logs TO app_mgmt_service;
GRANT INSERT ON TABLE siata_auth.audit_logs TO module_mgmt_service;


--
-- Name: TABLE auth_tokens; Type: ACL; Schema: siata_auth; Owner: admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE siata_auth.auth_tokens TO auth_service;
GRANT SELECT ON TABLE siata_auth.auth_tokens TO jano_service;


--
-- Name: TABLE jano_rule_violations; Type: ACL; Schema: siata_auth; Owner: admin
--

GRANT SELECT,INSERT ON TABLE siata_auth.jano_rule_violations TO jano_service;


--
-- Name: TABLE jano_security_rules; Type: ACL; Schema: siata_auth; Owner: admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE siata_auth.jano_security_rules TO jano_service;


--
-- Name: TABLE module_permissions; Type: ACL; Schema: siata_auth; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE siata_auth.module_permissions TO module_mgmt_service;


--
-- Name: TABLE modules; Type: ACL; Schema: siata_auth; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE siata_auth.modules TO module_mgmt_service;


--
-- Name: TABLE otp_codes; Type: ACL; Schema: siata_auth; Owner: admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE siata_auth.otp_codes TO otp_service;


--
-- Name: TABLE sessions; Type: ACL; Schema: siata_auth; Owner: admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE siata_auth.sessions TO auth_service;
GRANT SELECT ON TABLE siata_auth.sessions TO jano_service;


--
-- Name: TABLE teams; Type: ACL; Schema: siata_auth; Owner: admin
--

GRANT SELECT ON TABLE siata_auth.teams TO users_service;
GRANT SELECT ON TABLE siata_auth.teams TO module_mgmt_service;


--
-- Name: TABLE users; Type: ACL; Schema: siata_auth; Owner: admin
--

GRANT SELECT,UPDATE ON TABLE siata_auth.users TO auth_service;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE siata_auth.users TO users_service;
GRANT SELECT ON TABLE siata_auth.users TO otp_service;
GRANT SELECT ON TABLE siata_auth.users TO jano_service;
GRANT SELECT ON TABLE siata_auth.users TO app_mgmt_service;
GRANT SELECT ON TABLE siata_auth.users TO module_mgmt_service;


--
-- PostgreSQL database dump complete
--

\unrestrict gvgxm6JNATZiQTN3UuPaFfKUTc1XyZlwtoNgn9Rs3pgl0h16OW70dcg4iqw9gmt

